@import '~@angular/material/theming';

@import '../../styles.scss';

#list {
  /* 130px = Height of toolbar plus footer */
  max-height: calc(100vh - 130px);
  min-width: 300px;
  overflow: auto;
}

.selected {
  background-color: mat-color($dit-app-accent);
}
