<div *ngIf="!shortInfo" fxLayout="column">
  <p *ngIf="translationFile?.hasErrors()" class="error">{{translationFile?.error}}</p>
  <p *ngFor="let warning of translationFile?.warnings()" class="warn">{{warning}}</p>
  <div fxLayout="row">
    <span i18n>Translate <b>from</b></span>&nbsp;<app-language [code]="translationFile?.sourceLanguage()"></app-language>
    &nbsp;<span i18n><b>to</b></span>&nbsp;<app-language [code]="translationFile?.targetLanguage()"></app-language>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <span>{{translationFile?.name}}, </span>
    <span i18n>{{translationFile?.size}} bytes, </span>
    <span i18n>{{translationFile?.numberOfTransUnits}} entries</span>
    <md-icon *ngIf="translationFile?.isDirty()" mdTooltip="There are unpublished changes" i18n-mdTooltip>warning</md-icon>
    <button md-icon-button color="primary" (click)="save()" mdTooltip="save current state to file (download)" i18n-mdTooltip><md-icon>save</md-icon></button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <md-progress-bar mode="determinate" [value]="translationFile?.percentageTranslated()" color="accent"></md-progress-bar>
    <span i18n>{{percentageTranslated()}} % translated</span>
  </div>
  <p *ngIf="translationFileView?.currentTransUnitIndex() > 0" i18n>current transunit {{translationFileView?.currentTransUnitIndex()}} of {{translationFileView?.scrollabeTransUnitsLength()}}</p>
</div>
<div *ngIf="shortInfo" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <md-progress-bar mode="determinate" [value]="translationFile?.percentageTranslated()" color="accent"></md-progress-bar>
    <span i18n>{{percentageTranslated()}} % translated</span>
  </div>
  <p *ngIf="translationFileView?.currentTransUnitIndex() > 0" i18n>current transunit {{translationFileView?.currentTransUnitIndex()}} of {{translationFileView?.scrollabeTransUnitsLength()}}</p>
  <md-icon *ngIf="translationFile?.isDirty()" mdTooltip="There are unpublished changes" i18n-mdTooltip>warning</md-icon>
  <button md-icon-button color="primary" (click)="save()" mdTooltip="save current state to file (download)" i18n-mdTooltip><md-icon>save</md-icon></button>
</div>
