<div fxLayout="column">
  <div fxLayout="row">
    <span>{{translationFile?.name}}, </span>
    <span i18n>{{translationFile?.size}} bytes, </span>
    <span i18n>{{translationFile?.numberOfTransUnits}} entries</span>
    <div *ngIf="translationFile?.isDirty()">
      <button md-icon-button (click)="save()"><md-icon>save</md-icon></button>
    </div>
  </div>
  <div fxLayout="row">
    <span i18n>Source language</span>&nbsp;<app-language [code]="translationFile?.sourceLanguage()"></app-language>
    &nbsp;<span i18n>Target language</span>&nbsp;<app-language [code]="translationFile?.targetLanguage()"></app-language>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <md-progress-bar mode="determinate" [value]="translationFile?.percentageTranslated()" color="accent"></md-progress-bar>
    <span i18n>{{percentageTranslated()}} % translated</span>
  </div>
  <p *ngIf="translationFile?.hasErrors()" class="warn">{{translationFile?.error}}</p>
  <p *ngIf="translationFile?.currentTransUnitIndex() > 0">current transunit {{translationFile?.currentTransUnitIndex()}} of {{translationFile?.scrollabeTransUnitsLength()}}</p>
</div>
