md-card {
  min-width: 300px;
}

.mdcardcontent_gt {
  height: calc(100vh - 400px);
  /* 364 = toolbar 128 + 2 * margin 8 + projectstatus 72 + 2 * margin card 24 + card title 56 + action bar 44 + footer 20 */
  background-color: plum;
}

.mdcardcontent_sm {
  height: 300px;
  background-color: greenyellow;
}

md-card-header {
  min-height: 50px;
}

md-input-container {
  min-width: 250px;
}

md-card-content {
  overflow: scroll;
}

#translation {
  border: 2px solid;
  padding: 5px;
}

#sourcemessage {
  border: 1px solid;
  padding: 5px;
}

.error {
   color: red;
 }

.warning {
  color: orange;
}
