<md-card *ngIf="!translationUnit">
  <md-card-header>
    <md-card-title i18n>No Translation Unit</md-card-title>
  </md-card-header>
  <md-card-content style="overflow: hidden">
    <p i18n>no content</p>
  </md-card-content>
</md-card>
<md-card *ngIf="translationUnit">
  <md-card-header>
    <md-card-title fxLayout="row" fxLayoutAlign="start center">
      <ng-container i18n>State {{targetState()}}</ng-container>
      <md-icon *ngIf="targetState() === 'final'">done</md-icon>
      <md-icon *ngIf="targetState() === 'translated'">label_outline</md-icon>
      <md-icon *ngIf="targetState() === 'new'">translate</md-icon>
      <button md-icon-button (click)="showTransUnitID()" mdTooltip="ID {{transUnitID()}}"><md-icon>info</md-icon></button>
      <button md-icon-button *ngIf="sourceRef()" (click)="showSourceRefInfo()" mdTooltip="{{sourceRef()}}"><md-icon>location_on</md-icon></button>
    </md-card-title>
  </md-card-header>
  <md-card-content fxLayout="column" fxLayoutGap="5px" [ngClass.gt-sm]="'mdcardcontent_gt'" [ngClass.lt-md]="'mdcardcontent_sm'">
    <div>
      <div id="sourcemessage">
        <app-language [code]="sourceLanguage()"></app-language>
        <app-normalized-message-input [readonly]="true" [normalized]="showNormalized" [message]="sourceContentNormalized()"></app-normalized-message-input>
        <p *ngIf="sourceDescription()"><b i18n>Description</b> {{sourceDescription()}}</p>
        <p *ngIf="sourceMeaning()"><b i18n>Meaning</b> {{sourceMeaning()}}</p>
      </div>
    </div>
    <form id="translation" fxLayout="column" [formGroup]="form">
      <p fxLayout="row"><span i18n>Your translation to</span>&nbsp;<app-language [code]="targetLanguage()"></app-language></p>
      <div fxLayout="row" fxLayoutGap="30px" fxFlex="noshrink">
        <div fxLayout="column">
          <md-slide-toggle formControlName="showNormalized" color="accent"
                           mdTooltip="In normalization mode all markup contained in the messsages is shown in a simplified, format neutral way."
                           i18n-mdTooltip i18n>Normalization mode
          </md-slide-toggle>
          <p class="normalizationhint" *ngIf="showNormalized" i18n>(switch off to show native message)</p>
          <p class="normalizationhint" *ngIf="!showNormalized" i18n>(switch on to use normalization)</p>
        </div>
        <button *ngIf="!reviewMode" md-icon-button
                fxFlexAlign="start"
                md-button color="accent"
                (click)="undo()"
                [disabled]="!isTranslationChanged()"
                mdTooltip="undo changes" i18n-mdTooltip>
          <md-icon>undo</md-icon>
        </button>
        <button *ngIf="!reviewMode" md-mini-fab
                fxFlexAlign="start"
                md-button color="accent"
                (click)="autoTranslate()"
                [disabled]="autoTranslateDisabled() | async"
                mdTooltip="press to get a translation suggestion from Google Translate" i18n-mdTooltip>
          <md-icon>g_translate</md-icon>
        </button>
      </div>
      <app-normalized-message-input id="translationinput" [readonly]="reviewMode" [normalized]="showNormalized"
                                    [message]="editedTargetContentNormalized()"
                                    formControlName="_editedTargetMessage"
                                    (accept)="next()"></app-normalized-message-input>
      <p *ngFor="let w of warnings()" class="warn"><md-icon>warning</md-icon>&nbsp;{{w}}</p>
      <p *ngFor="let e of errors()" class="error"><md-icon>error</md-icon>&nbsp;{{e}}</p>
      <div fxLayout="row">
        <button *ngIf="!reviewMode"
                fxFlexAlign="start"
                md-button color="primary"
                (click)="markTranslated()"
                i18n
                mdTooltip="press to accept the given translation" i18n-mdTooltip>
          mark as translated
        </button>
        <button *ngIf="reviewMode && targetState() === 'translated'"
                fxFlexAlign="start"
                md-button color="primary"
                (click)="markReviewed()"
                i18n
                mdTooltip="press to accept the given translation as reviewed" i18n-mdTooltip>
          mark as reviewed
        </button>
        <button *ngIf="reviewMode && targetState() === 'final'"
                fxFlexAlign="start"
                md-button color="primary"
                (click)="markTranslated()"
                i18n
                mdTooltip="press to reset the reviewed translation to 'translated'" i18n-mdTooltip>
          mark as translated, but not reviewed
        </button>
      </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button i18n (click)="prev()"
            [disabled]="!hasPrev()"
            mdTooltip="accept translation and go to previous unit" i18n-mdTooltip>
      Previous
    </button>
    <button md-button i18n (click)="next()"
            [disabled]="!hasNext()"
            mdTooltip="accept translation and go to next unit" i18n-mdTooltip>
      Next
    </button>
  </md-card-actions>
</md-card>
