md-card {
  min-width: 300px;
}

md-card-header {
  min-height: 50px;
}

md-input-container {
  min-width: 250px;
}

md-card-content {
  max-height: 310px;
  overflow: scroll;
}

#translation {
  border: 2px solid;
  padding: 5px;
}

#sourcemessage {
  border: 1px solid;
  padding: 5px;
}

.error {
   color: red;
 }

.warning {
  color: orange;
}
