<div id="container" fxLayout="column">
  <md-toolbar color="primary">
    <span id="apptitle">Tiny Translator</span>
    <md-toolbar-row>
      <button md-icon-button><md-icon>menu</md-icon></button>
    </md-toolbar-row>
  </md-toolbar>
  <div id="main" fxFlex="1" fxLayout="column" fxLayoutAlign="start start">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    Version <span id="buildversion">{{buildversion()}}</span>; buildtime <span id="buildtime">{{buildtime()}}</span>
  </div>

</div>
