<div fxLayout="column" style="min-width: 100vw;">
  <h1 i18n>Open a new project</h1>
  <form id="createProjectForm" fxLayout="column" [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <md-input-container fxFlex="50%">
        <textarea placeholder="Project name" i18n-placeholder mdInput formControlName="projectName" name="projectName"></textarea>
      </md-input-container>
      <div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <p fxFlex="50%" i18n>Select the file you want to translate.<br>
        The file can be of format XLIFF 1.2, XLIFF 2.0 or XMB.<br>
        The file will be stored in your browser local storage until you export the translated version.</p>
      <div fxLayout="column" fxFlexAlign="end" fxFlex="50%">
        <input type="file" id="fileupload" (change)="fileSelectionChange(input)" formControlName="selectedFiles" name="selectedFiles" class="inputfile" #input/>
        <label for="fileupload">
          <md-icon>open_in_browser</md-icon>&nbsp;<span i18n>Upload a translation file (xlf, xtb)</span></label>
        <div><span i18n>selected: </span>{{selectedFilesFormatted()}}</div>
      </div>
    </div>
    <div *ngIf="isMasterXmbFileNeeded()" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <p fxFlex="50%" i18n>You selected an xtb file.<br>
        This file type only contains one language, the target language.<br>
        To show you the original source texts, you should also select the master xmb file.</p>
      <div fxFlex="50%" fxLayout="column">
        <input type="file" id="masterfileupload" (change)="masterXmlFileSelectionChange(masterinput)" formControlName="selectedMasterXmbFiles" name="selectedMasterXmbFiles" class="inputfile"
               #masterinput/>
        <label for="masterfileupload">
          <md-icon>open_in_browser</md-icon>&nbsp;<span i18n>Upload master xmb file</span></label>
        <div><span i18n>selected: </span>{{selectedMasterFilesFormatted()}}</div>
      </div>
    </div>
    <p><b i18n>Selected translation file:</b></p>
    <app-translation-file-status *ngIf="isFileSelected()"
                                 [translationFileView]="createdProject?.translationFileView"
                                 [translationFile]="createdProject?.translationFile">
    </app-translation-file-status>
    <p></p>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <md-input-container *ngIf="needsExplicitSourceLanguage()" fxFlex="50%"
                          md-tooltip="Your selected file contains no information about the language used. You can set it here explicitly." i18n-md-tooltip>
        <input placeholder="Explicitly set source language" i18n-placeholder mdInput formControlName="sourceLanguage" name="sourceLanguage"/>
      </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <div fxFlex="50%">
        <p i18n>Workflow type you are using</p>
        <md-radio-group formControlName="workflowType" name="workflowType">
          <md-radio-button value="singleuser" i18n
                           md-tooltip="Single user workflow. You are translator and reviewer in one person. Every translated unit will directly get the state 'final'"
                           mdTooltipPosition="after" i18n-md-tooltip>Single User</md-radio-button>
          <md-radio-button value="withReview" i18n
                           md-tooltip="Workflow with explicit translator and reviewer. Translation get te state 'translated'. The reviewer must mark them as 'final' later."
                           mdTooltipPosition="after" i18n-md-tooltip>Translator/Reviewer</md-radio-button>
        </md-radio-group>
      </div>
      <div>
        <div *ngIf="isWorkflowWithReview()">
          <p i18n>Your role</p>
          <md-radio-group name="userRole" formControlName="userRole">
            <md-radio-button value="translator" i18n>Translator</md-radio-button>
            <md-radio-button value="reviewer" i18n>Reviewer</md-radio-button>
          </md-radio-group>
        </div>
      </div>
    </div>
    <p></p>
    <button fxFlexAlign="center"
            md-raised-button
            color="primary"
            (click)="addProject()"
            md-tooltip="add as new project and start working" i18n-md-tooltip
            [disabled]="!isInputComplete()">
      <md-icon>add</md-icon>&nbsp;<span i18n>Add project</span>
    </button>
  </form>
</div>
