<div id="container">
  <ng-container *ngIf="readonly">
    <ng-container *ngIf="!isICUMessage() || !normalized">
      <p>{{textToDisplay()}}</p>
    </ng-container>
    <ng-container *ngIf="isICUMessage() && normalized">
      <div *ngFor="let category of getICUMessageCategories(); index as i" fxLayout="row" fxLayoutGap="20px">
        <p>{{category.getCategory()}}</p>
        <p>{{category.getMessageNormalized().asDisplayString()}}</p>
      </div>
    </ng-container>
  </ng-container>
  <form *ngIf="!readonly" [formGroup]="form" fxLayout="column">
    <ng-container *ngIf="!isICUMessage() || !normalized">
      <md-form-field fxFlex="noshrink">
        <textarea mdInput type="text" formControlName="displayedText" md-autosize [mdAutosizeMinRows]="2"></textarea>
     </md-form-field>
    </ng-container>
    <ng-container *ngIf="isICUMessage() && normalized">
      <div fxFlex="noshrink" *ngFor="let category of getICUMessageCategories(); index as i" fxLayout="row" fxLayoutGap="20px" formArrayName="icuMessages">
        <p>{{category.getCategory()}}</p>
        <md-form-field fxFlexFill>
          <input mdInput type="text" [formControlName]="i">
        </md-form-field>
      </div>
    </ng-container>
  </form>
</div>
